<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <style>
        nav .nav-wrapper {
            background-color: #26a69a;
        }
    </style>
    
</head>
<body>
    {% include 'nav.html' %}

    <main>
        {% if get_flashed_messages() %}
        <div class="container">
            <div class="row align-items-center">
            {% for message in get_flashed_messages() %}
                <div class="flash_error"><p>{{ message }}</p></div>
            {% endfor %} 
            </div>
        </div>
        {% endif %}

        <div class="container">
            <div class="row align-items-center">
                <h4>This is a POST page</h4>
                <p>Content-type: application/json</p>
            </div>
        </div>
    </main>
</body>


</html>